langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain_core
langgraph
pydantic
tavily-python
python-dotenv
huggingface-hub
sentence-transformers
chromadb
langdetect
pypdf
ipython
matplotlib
langchain-groq
langchain-chroma
fastapi
uvicorn
requests
